.body-style {
  background-color: #1f2022;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
}
.row {
  padding-top: 10px;
}

#info {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: small;
}
.winning {
  background-color: #00ff00;
}
.failed {
  background-color: red;
}
h2 {
  color: black;
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}
.container-fluid {
  position: relative;
  width: 80%;
  padding-top: 100px;
}
#again {
  left: 30px;
  top: 20px;
  position: absolute;
}

.guessbox button {
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn {
  border-radius: 0;
}

#guess {
  text-align: center;
  background-color: transparent;
  color: white;
  border: solid 2px white;
  font-size: 30px;
  height: 80px;
  width: 200px;
  margin-bottom: 10px;
}

#score {
  margin-bottom: 30px;
}

.top-div {
  padding-top: 100px;
  padding-bottom: 80px;
}

@media (max-width: 810px) {
  #info {
    right: 0;
    position: static;
    font-size: smaller;
  }
  .top-div {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row {
    padding-top: 0;
  }
}
